@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/*  */

:root {
    --clr-primary: #fceb44;
    --clr-secondary: #252624;
    --clr-accent: #d74e2d;
}

.dark-mode {
    --clr-primary: #252624;
    --clr-secondary: #d74e2d;
    --clr-accent: #fceb44;
}

.container {
    max-width: 66rem;
    margin: 0 auto;
}

body {
    background-color: var(--clr-primary);
}

.header {
    padding-block: 20px;
    background-color: var(--clr-primary);
}

.header__logo {
    font-size: 2rem;
}

.nav__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav__list-item a,
.nav__list-item {
    color: var(--clr-secondary);
    text-decoration: none;
}

#duckSearch {
    width: 300px;
}

.products {
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
}

.card {
    padding: 1rem;
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    max-width: 230px;
    min-height: 320px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
